.title {
	color: #fff;
	text-shadow: 8px 4px 7px rgba(0, 0, 0, 0.25);
	font-family: Gilda Display;
	font-size: 128px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.frame {
	h3 {
	}
	p {
	}
}
