.mainWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Gilda Display", serif;
  .head {
    gap: 43px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 413px;
    width: 696px;
    a {
      text-decoration: none;
      color: black;
      padding: 7px 10px;
      border: solid 1px black;
      width: 110px;
      margin-top: 30px;

      p {
        font-size: 14px;
      }
    }
  }
  .buttonWrapper {
    display: flex;
    gap: 10px;
    margin: 0px 10px 0px 10px;
    .SmallStyle {
      height: 327px;
      display: flex;
      flex-direction: column;
      width: 50%;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      width: 611px;
      gap: 30px;
      .text {
        width: 370px;
      }
      a {
        text-decoration: none;
        color: white;
        padding: 7px 10px;
        border: solid 1px white;
        width: 110px;
        background-color: #1f1f1f;
        p {
          font-size: 14px;
        }
      }
    }
  }
  .first {
    background-image: url(../../assets/images/style1.jpg);
    background-position: center;
  }
  .second {
    background-image: url(../../assets/images/style2.jpg);
    background-position: center;
  }
}
